<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <span class="fs-5 fw-bold">Menu</span>
            </div>

            <ul class="nav nav-pills flex-column mb-auto" role="tablist">
                <li>
                    <a href="#iniciar" class="nav-link link-dark active" role="tab" data-bs-toggle="list">
                        <i class="fas fa-home"></i> Iniciar
                    </a>
                </li>
                <li>
                    <a href="#entrar" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-door-open"></i> Entrar
                    </a>
                </li>
                <li>
                    <a href="#sair" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-door-closed"></i> Sair
                    </a>
                </li>
                <li>
                    <a href="#subir" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-upload"></i> Subir
                    </a>
                </li>
                <li>
                    <a href="#descer" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-download"></i> Descer
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div id="iniciar" class="tab-pane fade show active" role="tabpanel">
                <h3>Iniciar</h3>
                <p>Inciando.......</p>
            </div>

            <div id="entrar" class="tab-pane fade" role="tabpanel">
                <h3>Entrar 1</h3>
                <p>Entrando......</p>
            </div>

            <div id="sair" class="tab-pane fade" role="tabpanel">
                <h3>Sair</h3>
                <p>Saindo.......</p>
            </div>

            <div id="subir" class="tab-pane fade" role="tabpanel">
                <h3>Subir</h3>
                <p>Subindo....</p>
            </div>

            <div id="descer" class="tab-pane fade" role="tabpanel">
                <h3>Descer</h3>
                <p>Descendo.</p>
            </div>
        </div>
    </div>
</div>