<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <span class="fs-5 fw-bold">Menu</span>
            </div>

            <ul class="nav nav-pills flex-column mb-auto" role="tablist">
                <li>
                    <a href="#iniciar" class="nav-link link-dark active" role="tab" data-bs-toggle="list">
                        <i class="fas fa-home"></i> Início
                    </a>
                </li>
                <li>
                    <a href="#entrar" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-door-open"></i> Entrar
                    </a>
                </li>
                <li>
                    <a href="#sair" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-door-closed"></i> Sair
                    </a>
                </li>
                <li>
                    <a href="#subir" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-upload"></i> Subir
                    </a>
                </li>
                <li>
                    <a href="#descer" class="nav-link link-dark" role="tab" data-bs-toggle="list">
                        <i class="fas fa-download"></i> Descer
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="tab-content">
            <div id="iniciar" class="tab-pane fade show active" role="tabpanel">
                <h3>Início <hr/></h3>

                <p>Este projeto tem como finalidade documentar as principais funcionalidades do projeto elevador.</p>

                <p>O projeto elevador é composto pelas seguintes funionalides:</p>

                <ul>
                    <li> Entrar </li>
                    <li> Sair </li>
                    <li> Subir </li>
                    <li> Descer </li>
                </ul>

                <p> Nas seguintes seções será detalhado cada uma das funcionalides. </p>

                <p>Ao iniciar a aplicação é solicitado para o usuário informar a quandtidade de andares e capacidade de pessoas do elevador.</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/1.png" class="card-img" alt="" style="width: 50rem;">
                        </div>
                    </div>
                </div>
                
                <p> Em seguida será exibido o menu pricipal do sistema</p>
                
                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/2.png" class="card-img" alt="" style="width: 50rem;">
                        </div>
                    </div>
                </div>                
                
            </div>

            <div id="entrar" class="tab-pane fade" role="tabpanel">
                <h3>Entrar no Elevador<hr/></h3>
                <p>Para acessar essa funcionalidade escolha a opção de número 1 no menu. Veja a figura abaixo</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/2.1.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>

                <p> Nessa funcionalidade uma pessoa pode entrar no elevador de cada vez. É feita uma verificação para saber se a capacidade de pessoas foi excedida, se isso acontecer não é permitido a entrada</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/3.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>
            </div>

            <div id="sair" class="tab-pane fade" role="tabpanel">
                <h3>Sair do Elevador<hr/></h3>
                <p>Para acessar essa funcionalidade escolha a opção de número 2 no menu. Veja a figura abaixo:</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/2.2.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>

                <p> Nessa funcionalidade uma pessoa pode sair do elevador de cada vez. É feita uma verificação para saber possuí alguem no elevador, se não houver ninguém uma mensagem será lançada</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/5.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>
            </div>

            <div id="subir" class="tab-pane fade" role="tabpanel">
                <h3>Subir um Andar<hr/></h3>
                <p>Para acessar essa funcionalidade escolha a opção de número 3 no menu. Veja a figura abaixo:</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/2.3.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>

                <p> Nessa funcionalidade o elevador pode subir um andar de cada vez. É feita uma verificação para saber se o elevador se encontra no último andar</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/4.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>
            </div>

            <div id="descer" class="tab-pane fade" role="tabpanel">
                <h3>Descer um Andar<hr/></h3>
                <p>Para acessar essa funcionalidade escolha a opção de número 4 no menu. Veja a figura abaixo:</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/2.4.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>

                <p> Nessa funcionalidade o elevador pode descer um andar de cada vez. É feita uma verificação para saber se o elevador se encontra no terréo</p>

                <div class="row">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <img src="~/img/docs/6.png" class="card-img" alt="" style="width: 30rem;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>