<div class="card border-info">
    <div class="card-body">
        <h5 class="card-title">Bem Vindo!</h5>
        <p class="card-text">Seja bem vindo a documentação do projeto de conclusão de curso da jornada dev microsoft do samsung ocean</p>
    </div>
</div>

<div class="card">
    <img src="~/img/LOGO-OCEAN-SAMSUNG.png" class="card-img" alt="">
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Documentacao" role="button"><i class="fas fa-book"></i> Acessar Documentação</a>
</div>